html {
    font-size: 10px;
}

*, *:before, *::after {
    box-sizing: border-box;
 
}

body {
    margin: 0;
}

h1 { 
    font-size: 3.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 { 
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 { 
    font-size: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p, a { 
    font-size: 1.6rem; 
    line-height: 1.5; 
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

nav {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    border-radius: 5px;

   
}

.nav-link, #toggle {
    color: rgb(72, 72, 73);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inherit;
}

.nav-link:hover, #toggle:hover {
    background-color: rgb(118, 193, 228);
    color: rgb(255, 255, 255);
}

#toggle {
    display: none;
}

header {
    border-radius: 25px;
    padding: 32px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(118, 193, 228);
    color: white;
}

header > h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 100%;
    padding: 0 32px;
}

footer {
    flex: 100%;
    height: 30px;
    background-color: rgb(118, 193, 228);
    color: white;
    text-align: center;
    border-radius: 4px;
}

#data-table, form {
    width: 150%;
    text-align: left;
    overflow: scroll;
    text-align: center;
}

#data-table > table {
    width: 100%;
    text-align: left;
    overflow: scroll;
}

#banner {
    flex: 100%;
    padding: 32px;
}

.hide {
    display: none;
}

/* A media query can be used to change CSS values dependent on various factors, usually a max-width or min-width of the
  viewport (screen).

  Media queries always start with `@media target and (properties) {

  }`

  - the properties are what we are checking for
*/
@media screen and (max-width: 1024px) {
    aside {
        flex: 25%;
    }

    main {
        flex: 75%
    }
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }

    nav, .container, .row {
        flex-direction: column;
    }

    nav {
        padding-left: 0px;
    }

    .nav-link {
        display: none;
    }

    #toggle {
        display: block;
        cursor: pointer;
    }
}

.show {
    display: inherit;
}